{% extends 'layout.html' %}
{% load staticfiles %}
{% load xstark %}
{% block css %}
    <link rel="stylesheet" href="{% static 'xstark/plugins/layer/skin/layer.css' %} "/>
{% endblock %}
{% block content %}
    <div class="list-tools {% if cl.gen_list_filters or cl.add_button or cl.search_list %}well{% endif  %}">
        {% if  cl.gen_list_filters %}
            <div class="comb-search col-sm-8 tool-block">
                {% for row in cl.gen_list_filters %}
                    <div class="filter-item">
                        {% for obj in row %}
                            {{ obj|safe }}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if cl.add_button or cl.search_list %}
        <div class="col-sm-4 tool-block">
            {% if cl.add_button %}
                <div class="button-list pull-right btn-group">
                    {{ cl.add_button }}
                </div>
            {% endif %}

            {% if cl.search_list %}
                <div class="search-list pull-right">
                    <form class="form-inline">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" name="q" value="{{ cl.q }}">
                                <span class="btn-primary input-group-addon">
                                <button type="submit" class="btn-addon"><i class="fa fa-search"></i> 搜索</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            {% endif %}
        </div>
        {% endif %}
    </div>
    <form method="post" class="form-inline" id="form-list">
        {% csrf_token %}

        <div class="col-sm-5">
            {% if cl.action_list %}
            <div class="form-group" style="margin-bottom: 5px;">
                <div class="input-group">
                    <select name="action" class="form-control">
                        <option value=""> -- 请选择要执行的操作 --</option>
                        {% for action in cl.action_list %}
                            <option value="{{ action.name }}">{{ action.text }}</option>
                        {% endfor %}
                    </select>
                    <span class="btn-primary input-group-addon">
                        <button type="button" id="action-running" class="btn-addon">执行</button>
                    </span>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-sm-7">
            <ul class="pagination pull-right">
                {{ cl.page.pager_simple|safe }}
            </ul>
        </div>
        <div class="col-sm-12">
            {% table cl %}
            <div class="text-center">
                <ul class="pagination">
                    {{ cl.page.page_html|safe }}
                </ul>
            </div>
        </div>
    </form>
{% endblock %}
{% block js %}
    <script src="{% static 'xstark/plugins/layer/layer.js' %} "></script>
    <script src="{% static 'xstark/js/jquery.form.js' %} "></script>
    <script>
        $('#action-running').click(function () {
            var form = $('#form-list');
            var action = form.find('[name=action]').val();
            if (!action) {
                layer.msg('请选择一个操作', {icon: 5});
                return false;
            }

            form.ajaxSubmit({
                type: 'post',
                dataType: 'json',
                beforeSubmit: function () {
                    layer.load();
                },
                success: function (json) {
                    if (json.errcode == 0) {
                        if (json.dialog) {
                            layer.closeAll('loading');
                            layer.open({
                                'title': json.title,
                                'content': json.dialog,
                                'area': '600px',
                                'btn': false
                            })
                        } else {
                            layer.msg(json.msg);
                        }
                    } else {
                        layer.msg(json.msg, {icon: 5});
                        layer.closeAll('loading');
                    }
                }
            })
        })
        $('#id-all').click(function () {
            var clicked = $(this).prop('checked');
            $.each($('input[name="pk"]'), function () {
                $(this).prop('checked', clicked)
            })
        });
        $('.btn-perm').click(function () {
            var url = $(this).data('href');
            $.getJSON(url, {_t: Math.random()}, function (json) {
                layer.load();
                if (json.errcode == 0) {
                    if(json.redirect){
                        location.href = json.redirect;
                    }
                    layer.closeAll('loading');
                    if(json.dialog) {
                        layer.open({
                            'title': json.title,
                            'content': json.dialog,
                            'area': '600px',
                            'btn': false
                        })
                    }
                } else {
                    layer.msg(json.msg, {icon: 5},function () {
                        layer.closeAll('loading');
                    });
                }

            })
        })
    </script>
{% endblock %}