<form method="post" action="{{ request.path }}">
    {% csrf_token %}
    <p>是否确定要删除 : {{ entity }}？</p>
    <a href="{{ redirect }}" class="btn btn-default">取消</a>
    <button id="delete-btn" type="button" class="btn btn-danger">确 认</button>
</form>

<script>
    $('#delete-btn').click(function () {
        $(this).closest('form').ajaxSubmit({
            dataType:'json',
            beforeSubmit:function () {
                layer.load()
            },
            success:function (json) {
                layer.closeAll('loading');
                if(json.errcode==0){
                    layer.msg(json.msg, function (i) {
                        if(json.redirect){
                            location.href = json.redirect
                        }
                    })
                }else{
                    layer.msg(json.msg, {icon:5})
                }
            }
        })
    });
</script>