<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理后台登陆</title>
    <link rel="stylesheet" href="{% static 'xstark/plugins/bootstrap/css/bootstrap.css' %} "/>
    <link rel="stylesheet" href="{% static 'xstark/plugins/font-awesome/css/font-awesome.css' %} "/>
    <link rel="stylesheet" href="{% static 'xstark/css/commons.css' %} "/>
</head>
<body>
<div class="container">
    <h1>&nbsp;</h1>
    <div class="col-sm-6 col-sm-offset-3">
    <form method="post">
        {% csrf_token %}
        <div class="panel panel-default">
            <div class="panel-heading">
                管理登录
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <input type="text" name="user" class="form-control" placeholder="用户名">
                </div>
                <div class="form-group">
                <input type="text" name="pwd" class="form-control" placeholder="密码">
                </div>
            </div>
            <div class="panel-footer">
                <button type="submit" class="btn btn-primary">登录</button>
                <div class="pull-right">{{ msg }}</div>

            </div>
        </div>
    </form>
        </div>
    </div>
</body>
</html>