<form role="form" action="{% url 'xstark:system_userinfo_reset' %}" method="POST" novalidate="NOVALIDATE">
    {% csrf_token %}
    <div class="_selected-options">
    {% for item in users %}
    <span class="_selected"> {{ item.name }}  </span>
    {% endfor %}
    </div>
    <div class="form-group">
        <label for="">{{ form.password.label }}</label>
        {{ form.password }}
        {% if error.password.0 %}
        <span class="help-tips">
            {{ error.password.0 }}
        </span>
        {% endif %}
    </div>
    <div class="form-group">
        <label for="">{{ form.confirm.label }}</label>
        {{ form.confirm }}
        {% if error.confirm.0 %}
        <span class="help-tips">
            {{ error.confirm.0 }}
        </span>
        {% endif %}
    </div>
    {{ form.pks }}
    <div class="buttons">
        <a class="btn btn-primary" id="reset-sub"><i class="fa fa-save"></i> 重置密码</a>
    </div>
</form>
<style>
    ._selected-options{padding: 5px 0; font-weight:500;  }
    ._selected{text-align: center; display: inline-block; border: 1px dashed #c0c0c0; min-width: 60px;background: #c4e3f3}
</style>

<script>
    $('#reset-sub').click(function () {
        $(this).closest("form").ajaxSubmit({
            dataType: 'json',
            beforeSubmit: function () {
                layer.load();
            },
            success: function (json) {
                console.log(json);
                layer.closeAll('loading');
                if (json.errcode == 0) {
                    layer.msg(json.msg)
                }else{
                    layer.msg(json.msg, {icon:5})
                }
            }
        })
    })
</script>