<form role="form" action="{{ action }}" method="POST" novalidate="NOVALIDATE" class="_action-confirm">
    <div class="panel panel-default">
        <div class="panel-body">
            {% csrf_token %}
            <div class="_selected-options">
            {% for item in users %}
            <span class="_selected"> {{ item.name }}  </span>
            {% endfor %}
            </div>
            <div class="form-group">
                <label for="">{{ form.password.label }}</label>
                {{ form.password }}
                {% if error.password.0 %}
                <span class="help-tips">
                    {{ error.password.0 }}
                </span>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="">{{ form.confirm.label }}</label>
                {{ form.confirm }}
                {% if error.confirm.0 %}
                <span class="help-tips">
                    {{ error.confirm.0 }}
                </span>
                {% endif %}
            </div>
            {{ form.pks }}
        </div>
        <div class="panel-footer">
            <div class="buttons">
                <a class="btn btn-primary" id="reset-sub"><i class="fa fa-save"></i> 重置密码</a>
            </div>
        </div>
    </div>
</form>

<script>
    $('#reset-sub').click(function () {
        $(this).closest("form").ajaxSubmit({
            dataType: 'json',
            beforeSubmit: function () {
                layer.load();
            },
            success: function (json) {
                console.log(json);
                layer.closeAll('loading');
                if (json.errcode == 0) {
                    layer.msg(json.msg)
                }else{
                    layer.msg(json.msg, {icon:5})
                }
            }
        })
    })
</script>